/* ===============
   COMMAND LINE sass --watch master.scss:master.css --style normal
   =============== */
/*
$main-sprite-url: url(../images/promilishine2-sprite.png);
$main-logo: url(../images/ishine-logo-144x132.png);
*/
body {
  padding: 0px;
  margin: 0px;
  font-family: "Signika", Arial, "Helvetica", sans-serif;
  font-size: 13px;
  background-color: #999999; }

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  outline: black 1px dotted; }

header h1 {
  margin: 0px;
  padding: 0px; }
header nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }
header nav ul li {
  float: left;
  margin: 10px;
  padding: 5px;
  list-style: none; }

/* CONTENT */
.main-content-placeholder {
  margin: 0px;
  padding: 10px;
  min-height: 300px;
  outline: black 1px dotted; }
.main-content-placeholder .instagram-placeholder {
  float: left;
  margin: 2px;
  padding: 0px;
  width: 150px;
  min-height: 400px; }
.main-content-placeholder .instagram-placeholder span {
  display: block;
  width: 150px;
  word-wrap: break-word;
  word-break: break-all; }
.main-content-placeholder .instagram-placeholder a {
  text-decoration: none;
  color: white; }

/* END CONTENT */
/* FOOTER */
footer {
  margin: 0px;
  padding: 2px;
  text-align: center;
  color: white;
  background-color: black; }

/* END FOOTER */
/* MISC STYLES */
.clear-1px {
  clear: both; }

.clear-5px {
  clear: both;
  height: 5px; }

.clear-10px {
  clear: both;
  height: 10px; }

.clear-20px {
  clear: both;
  height: 20px; }

hr {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  clear: both;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: #d7d7d7 1px solid; }

.rounded-corners-default, .clearfix {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  display: block;
  background-color: #E1E1E1; }

.rounded-corners-custom {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  display: block;
  background-color: #E1E1E1; }

.clearfix {
  *zoom: 1; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.anchor-link {
  color: blue; }

.anchor-link:link {
  color: blue; }

.anchor-link:hover {
  color: green; }

.anchor-link:visited {
  color: violet; }

.anchor-link:active {
  color: red; }

.anchor-link:focus {
  color: orange; }

/* END MISC STYLES */
/* Start Styles for Terms of Use and Privacy Content */
/* Start ABS-CBN Terms and Privacy */
.abs-cbn-terms, .abs-cbn-privacy {
  margin: 0px;
  padding: 5px;
  font-size: 12px;
  line-height: 16px; }

.abs-cbn-terms h2, .abs-cbn-privacy h2 {
  font-size: 14px; }

.abs-cbn-terms ol.roman {
  margin: 5px;
  padding: 0px;
  list-style: lower-roman inside; }

.abs-cbn-terms ol.roman li {
  margin: 0px;
  padding: 5px; }

.abs-cbn-terms ol.bullet {
  margin: 5px;
  padding: 0px;
  list-style: disc inside; }

.abs-cbn-terms ol.bullet li {
  margin: 0px;
  padding: 5px; }

.abs-cbn-terms ol.alpha {
  margin: 5px;
  padding: 0px;
  list-style: lower-alpha inside; }

.abs-cbn-terms ol.alpha li {
  margin: 0px;
  padding: 5px; }

/* End ABS-CBN Terms and Privacy */
/* Start ABS-CBN News Terms and Privacy */
.abs-cbn-news-tp {
  margin: 0px;
  padding: 5px;
  font-size: 12px;
  line-height: 16px; }

.abs-cbn-news-tp ul li {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
  list-style: decimal; }

.abs-cbn-news-tp ul li h2 {
  display: inline-block;
  margin-left: -25px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  font-size: 13px; }

.abs-cbn-news-tp ul li ol li {
  margin: 5px;
  padding: 0px;
  list-style: lower-roman; }

.abs-cbn-news-tp ul li ol ol li {
  margin: 5px;
  padding: 0px;
  list-style: disc; }

.abs-cbn-news-tp .privacy-data {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  list-style: decimal; }

.abs-cbn-news-tp .privacy-data li {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
  list-style: decimal; }

.abs-cbn-news-tp .privacy-data li h2 {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0px; }

.abs-cbn-news-tp .privacy-data li p {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0px; }

.abs-cbn-news-tp .privacy-data li ul li {
  list-style: disc; }

.abs-cbn-news-tp .privacy-data li ul li h2 {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0px; }

/* End ABS-CBN News Terms and Privacy */
/* End Styles for Terms of Use and Privacy Content */
