@import "config.scss";


// GLOBAL
body {
	
}

// HEADINGS
h1 {
	
}

h2 {
	
}

h3 {
	
}

h4 {
	
}


// ANCHORS
a {
	
}

a:link {
	
}

a:hover {
	
}

a:active {
	
}

a:visited {
	
}

a:focus {
	
}

// FORM
input {
	
}

label {
	
}

textarea {
	
}

select {
	
}

option {
	
}


// TABLES
table {
	
}

td {
	
}


// CONTENT
p {
	
}

span {
	
}

li {
	
}

dt {
	
}

dd {
	
}


// MISC CLASSES
.class-1 {
	
}

.class-2 {
	
}


